<!-- <body>
<p>templatedrivenform works!</p>
<div class="row">
    <div class="srav">

   
        
 <form  #myForm="ngForm">
        <div class="col">
           <div class="row">
                <div class="col">
                    <div class="form-group">
                           <label for="pnText">ProductName</label>
                         <input type="text" class="form-control" id="pnText" placeholder="Enter the productName here">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                           <label for="pqText">ProductQuantity</label>
                         <input type="text" class="form-control" id="pqText" placeholder="Enter the productquantity here">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                           <label for="ppText">ProductPrice</label>
                         <input type="number" class="form-control" id="ppText" placeholder="Enter the productPrice here">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                           <label for="ppText">ManufacturingDate</label>
                         <input type="date" class="form-control" id="ppText" placeholder="Enter the productPrice here">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div>
                    <button type="button" class="btn btn-primary" (click)="submitHandler(myForm)">Submit</button>
                </div>

            </div>
        </div>
    </form>
</div>
</div>
</body> -->