<body>
  <article>
    <h1>ProductForm</h1>
    <div class="row">
        <div class="srav">
            <form>
                        <div class="form-group">
                               <label for="productname">ProductName</label>
                             <input type="text" class="form-control" 
                             class="form-control"    

                             name="productname" 
                             placeholder="Enter the productName here"  required />
                                 
                        </div>
                        <div class="form-group">
                               <label for="pqText">ProductQuantity</label>
                             <input type="text" class="form-control" id="pqText"   
                             class="form-control"  

                             name="productquantity" 
                             placeholder="Enter the productquantity here" required />

                        </div>
                        <div class="form-group">
                               <label for="ppnumber">ProductPrice</label>
                             <input type="number" class="form-control" id="ppnumber"  
                             class="form-control"    
                             
                             name="productPrice" 
                             placeholder="Enter the productPrice here" required />

                        </div>
                        <div class="form-group">
                               <label for="ppdate">ManufacturingDate</label>
                             <input type="date" class="form-control" 
                             class="form-control"  

                             name="manufacturingDate" 
                              placeholder="Enter the ManufacturingDate here"  required/>
                             
                        </div>
                <div class="row justify-content-center">
                    <div>
                        <button type="button" class="btn btn-primary" >Submit</button>
                    </div>
    
                </div>
            </form>
            </div>
      
    </div>
  </article>
    </body>