<div *ngIf="!loginscuess">
    <form class="container">
<div class="form-group">
    <label for="username">Username</label><br>
    <input type="text"  #u1 class="form-control" >
       
</div>
<div class="form-group">
    <label for="password">Password</label><br>
    <input type="password"  #p2 class="form-control" >  
</div>
<button (click)="check(u1.value, p2.value)">Login</button>
<br/>
<span>{{ msg }}</span>
</form>
</div>

<div *ngIf="loginscuess">
    <div class="sidebar col-md-3" >
  
  <a routerLink="/Empcreate">EmpCreate</a>
  <a routerLink="/Emplist">EmpList</a>
  <a routerLink="/productreate">ProductCreate</a>
  <a routerLink="/productlist">ProductList</a>
  
  
   <a routerLink="/module">Module</a>
</div>
<div class="col-md-9">
<app-articel></app-articel>
</div>
</div>


